body {
    background-image: url('img/theory_trainer_bg.png');
}

.main-game {

}

.header {
    color: white;
}

.game-card {
    color: white;
    margin-top: 15%;
    margin-bottom: 15%;
    background-color: #0030FF;
}

@media screen and (max-width: 850px) {
    .game-card {
        margin: 25%;
        z-index: 5;
}
}



.card-title {
    background-color: #630DFF;
}

li {
    list-style: none;
    border-bottom: 3px solid black;
    margin-bottom: 13px;
}
