body {
    background-image: url('img/theory_trainer_bg.png');
}

.game-card {
    color: white;
    margin-top: 15%;
    background-color: #0030FF;
}

.card-title {
    background-color: #630DFF;
}

.answers {
    background-color: #0C6EE8;
}

ul,
li {
    background-color: #0C6EE8;
}
